<div class="description desc-1">
  <div class="description__close close-1"></div>
  <div class="description__close-btn description__close-btn-1"></div>
  <div class="description__inner">
    <div class="scrollview">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <p class="meta">
            Assignment 4
          </p>
          <h2>
            Visual Design
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-4">
          <div class="btn-container">
            <a href="https://xd.adobe.com/view/3a4e7959-18b4-4f16-a96c-acb1ab76acef-6f1d/?fullscreen" target="_blank" rel="noopener" class="btn btn--launch">
              {{> click }}
              <span>
                launch GUI kit
              </span>
            </a>
            <a href="/images/03_about-tomorrow.de_PresentationVisualDesign.pdf" target="_blank" rel="noopener" class="btn btn--launch">
              {{> download }}
              <span>download</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            For the visual design we also used the three primary goals, we mentioned in Assignment 3.
            We designed an UI Kit for all important design guidelines in our high fidelity prototype.
            Our UI Kit contains fonts, font sizes, spacings, states and colors.

          </p>
        </div>
        <div class="col-md-4">
          <p>
            All design choices were thoughtfully made with our product and target audience in mind.
            In this phase we also added first animations to enhance the visual appeal of the builder.
            For example button and text field animations.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Final presentation <br> for assignment 4
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="oneSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_01.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_02.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_03.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_04.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_05.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_06.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_07.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_08.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_09.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment4/03_about-tomorrow.de_PresentationVisualDesign_Page_10.jpg">
              </div>
            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">

        </div>
      </div>

    </div>
  </div>
</div>