<div class="description desc-1">
  <div class="description__close close-1"></div>
  <div class="description__close-btn description__close-btn-1"></div>
  <div class="description__inner">
    <div class="scrollview">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <p class="meta">
            Assignment 3
          </p>
          <h2>
            Wireframe
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-4">
          <div class="btn-container">
            <a href="https://xd.adobe.com/view/a788fb4a-0a4a-40ae-9b77-0bbb558e2498-f2db/?fullscreen" target="_blank" rel="noopener" class="btn btn--launch">
              {{> click }}
              <span>
                launch prototype
              </span>
            </a>
            <a href="/images/Assignment3.pdf" target="_blank" rel="noopener" class="btn btn--launch">
              {{> download }}
              <span>
                download
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            While developing the wireframe, we had three primary goals. The first goal was to be as
            resource-efficient as possible. We decided to use vector graphics instead of images and
            structured our tool with a lot of reused components. With this technique we can save css
            code by reusing the same as much as possible. The second goal was to make the website easy
            to use. The builder should not be bloated with too many UI elements at first sight and only
            the most important ones should be displayed.
          </p>
        </div>
        <div class="col-md-4">
          <p>
            With the given navigation the user can then find the more complex (and therefore less frequently used) features.
            The final goal was to visualize the direct impact of the user's actions. We implemented
            our emission tracker which shows a lot of interesting data about the climate friendliness
            of the website. With these optimizations we created a better user experience and also strongly
            integrated the sustainability factor.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Final presentation <br> for assignment 3
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="oneSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_01.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_02.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_03.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_04.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_05.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_06.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_07.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_08.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_09.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_10.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_11.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_12.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_13.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_13.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment3/Assignment3_Page_13.jpg">
              </div>
            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">

        </div>
      </div>

    </div>
  </div>
</div>