<div class="description desc-1">
  <div class="description__close close-1"></div>
  <div class="description__close-btn description__close-btn-1"></div>
  <div class="description__inner">
    <div class="scrollview">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <p class="meta">
            Assignment 6
          </p>
          <h2>
            Design reflection
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-4">
          <div class="btn-container">
            <a href="/images/UID_06_Doku.pdf" target="_blank" rel="noopener" class="btn btn--launch">
              {{> download }}
              <span>download</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            During the development of the High-Fidelity Prototype, we focused
            on how to communicate with our users through visual design. We applied
            the previously created UI kit to all our screens. To improve the usability
            we integrated different animations and added some new screens to the prototype.
            In the end, we connected everything and created our fully functional
            high-fidelity prototype.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-4">
          <div class="text-img-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.418 0-8 3.582-8 8v8c0 4.418 3.582 8 8 8s8-3.582 8-8v-8c0-4.418-3.582-8-8-8zm0 7.5c-.829 0-1.5-.672-1.5-1.5s.671-1.5 1.5-1.5 1.5.672 1.5 1.5-.671 1.5-1.5 1.5z"/></svg>
            <h3>
              scroll down for animation videos
            </h3>
          </div>
        </div>
      </div>

      <div class="video-container">
        <div class="row">
          <div class="col-md-4">
            <h3>
              Registration process
            </h3>
          </div>
          <div class="col-md-8">
            <video controls src="/images/Registration.mp4"></video>
          </div>
        </div>
      </div>

      <div class="video-container">
        <div class="row">
          <div class="col-md-4">
            <h3>
              Registration process <br> with Google
            </h3>
          </div>
          <div class="col-md-8">
            <video controls src="/images/Registration_Google.mp4"></video>
          </div>
        </div>
      </div>

      <div class="video-container">
        <div class="row">
          <div class="col-md-4">
            <h3>
              Onboarding process
            </h3>
          </div>
          <div class="col-md-8">
            <video controls src="/images/Onboarding.mp4"></video>
          </div>
        </div>
      </div>

      <div class="video-container">
        <div class="row">
          <div class="col-md-4">
            <h3>
              Our Editor in action
            </h3>
          </div>
          <div class="col-md-8">
            <video controls src="/images/Editor.mp4"></video>
          </div>
        </div>
      </div>

      <div class="video-container">
        <div class="row">
          <div class="col-md-4">
            <h3>
              Our key feature: <br> The emission tracker
            </h3>
          </div>
          <div class="col-md-8">
            <video controls src="/images/Emission_Tracker.mp4"></video>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">

        </div>
      </div>

    </div>
  </div>
</div>