<div class="description desc-1">
  <div class="description__close close-1"></div>
  <div class="description__close-btn description__close-btn-1"></div>
  <div class="description__inner">
    <div class="scrollview">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <p class="meta">
            Assignment 5
          </p>
          <h2>
            High-Fidelity Prototype
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-4">
          <div class="btn-container">
            {{!-- {{> download }} --}}
            <a href="https://about-tomorrow.de/high-fidelity-prototype" target="_blank" rel="noopener" class="btn btn--launch">
              {{> click }}
              <span>
                launch prototype
              </span>
            </a>
            <a href="/images/05_Final_Presentation_About_Tomorrow.pdf" target="_blank" rel="noopener" class="btn btn--launch">
              {{> download }}
              <span>
                download
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            During the development of the High-Fidelity Prototype, we focused on how to
            communicate with our users through visual design. We applied the previously
            created UI kit to all our screens.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Component based <br> emission tracker
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="twoSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/assignment5/component_1.png" alt="Component of emission tracker that shows what is using data">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/component_2.png" alt="Component of emission tracker that compares the website to websites of top competitors">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/component_3.png" alt="Component of emission tracker that shows what is using data">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/component_4.png" alt="Component of emission tracker that shows what is using data">
              </div>
            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            To improve the usability we integrated different animations and added some new screens to the
            prototype. In the end, we connected everything and created our fully functional high-fidelity prototype.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Final presentation <br> for assignment 5
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="oneSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_01.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_02.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_03.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_04.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_05.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_06.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_07.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_08.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_09.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_10.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_11.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_12.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_13.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_14.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_15.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_16.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_17.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_18.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_19.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_20.jpg">
              </div>
              <div class="swiper-slide">
                <img src="/images/assignment5/05_Final_Presentation_About_Tomorrow_Page_21.jpg">
              </div>

            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">

        </div>
      </div>

    </div>
  </div>
</div>