<div class="description desc-1">
  <div class="description__close close-1"></div>
  <div class="description__close-btn description__close-btn-1"></div>
  <div class="description__inner">
    <div class="scrollview">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <p class="meta">
            Assignment 2
          </p>
          <h2>
            Low-Fidelity<br>
            Prototyping
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-4">
          <div class="btn-container">
            <a href="https://xd.adobe.com/view/b2b7676f-2726-4b4b-984c-a59066f19d0d-e7e4/?fullscreen" target="_blank" rel="noopener" class="btn btn--launch">
              {{> click }}
              <span>
                launch prototype
              </span>
            </a>
            <a href="/images/02_LowFidelityPresentation.pdf" target="_blank" rel="noopener" class="btn btn--launch">
              {{> download }}
              <span>download</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            Based on our ideas, we created a low-fidelity prototype.
            The goal was to structure all our ideas and assign them
            into logical groups. During the creation process, new ideas
            kept coming up and we integrated them directly. We wanted to
            make it possible for users to create a website within a short
            time without any prior knowledge.
          </p>
        </div>
        <div class="col-md-4">
          <p>
            Our focus in development was to optimize the landing process
            for the website and therefore assure that the website is appealing
            from the very first sight. We asked ourselves how we could welcome
            a new user to our builder as easy as possible. The solution is our
            onboarding flow with our hands-on tutorial.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Final presentation <br> for assignment 2
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="oneSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_1.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_2.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_3.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_4.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_5.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_6.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_7.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment2/02_LowFidelityPresentation_Page_8.jpg">
              </div>
            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">

        </div>
      </div>

    </div>
  </div>
</div>