<div class="description desc-1">
  <div class="description__close close-1"></div>
  <div class="description__close-btn description__close-btn-1"></div>
  <div class="description__inner">
    <div class="scrollview">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <p class="meta">
            Assignment 4
          </p>
          <h2>
            Visual Design
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            In this assignment it was all about defining our idea and finding a way to work on it as a team.
            We initially struggled with combing the expertise from all of us, because we had different background and competences.
            Everyone had another approach and vision for the project. Especially designwise. <br><br>
            The first step for us was to figure out the main issues that we wanted to tackle.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Core issues we saw <br> and wanted to tackle
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="threeSlide swiperSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="description__card">
                  <p class="description__card__meta">
                    Pollution
                  </p>
                  <img src="images/assignment1/world.png">
                  <p>
                    If the internet was a country it would be
                    the sixth greatest polluter globally.
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="description__card">
                  <p class="description__card__meta">
                    Consumption
                  </p>
                  <img src="images/assignment1/smoke.png">
                  <p>
                    The average web page today produces 1.76 grams CO2 per page
                  view. For a website with 10,000 monthly page views, that’s 211 kg CO2
                  per year.
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="description__card">
                  <p class="description__card__meta">
                    Solution
                  </p>
                  <img src="images/assignment1/bulb.png">
                  <p>
                    Coming up with a design standard everybody can use to design and develop a greener,
                    more climate friendlier digital world
                  </p>
                </div>
              </div>
            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum iure consequatur
            officiis sint quidem vero tenetur alias deleniti ipsum aut praesentium ullam saepe
            necessitatibus recusandae quaerat numquam, minus minima quod repudiandae molestias
            aliquid! Necessitatibus quos laboriosam pariatur iure ad.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="description__info">
            <div class="description__info__inner">
              <h3>
                Final presentation <br> for assignment 1
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="oneSlide">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_1.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_2.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_3.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_4.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_5.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_6.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_7.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_8.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_9.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_10.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_11.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_12.jpg">
              </div>
              <div class="swiper-slide">
                <img src="images/assignment1/about_tomorrow_pitch1024_13.jpg">
              </div>
            </div>
              {{!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> --}}
              {{!-- <div class="swiper-scrollbar"></div> --}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">

        </div>
      </div>

    </div>
  </div>
</div>