    <footer class="footer bg__dark">
      <div class="container-fluid container-fluid--lg">
        <div class="section section--lg">
          <div class="row footer__row">

        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
    <script src="./js/bundle.js"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      data-cookieyes="cookieyes-analytics"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-7WM7SMQQPP"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7WM7SMQQPP');
    </script>
  </body>
</html>
