<div class="section">
  <div class="container-fluid container-fluid--lg">
    <header>
      <a href="#">abouttomorrow</a>
        <div class="floating">
          <ul class="menu">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
          <div class="menu__mobile">menu</div>
        </div>
    </header>
  </div>
</div>
