{{> head
  title='| Propelling design & dev together'
  social-desc='404 - Page not be found'
  social-url-path='/404'
  noindex=true
}}

<main>

  <div class="section">
    <div class="container-fluid">
      <h1 class="headline text__center">404</h1>
      <p class="text__center">Page not be found!</p>
    </div>
  </div>

</main>

{{> footer }}
