{{> head
  title='about tomorrow'
  social-desc='about tomorrow'
}}

<main class="main">

  <div class="timeline__point">
  </div>

  <div class="section section--t" id="team">
    <div class="container-fluid container-fluid--lg intro">
      <h1>
        we are <br>
        about tomorrow
      </h1>
    </div>
  </div>
  <div class="section section--nt section--nb">
    <div class="container-fluid container-fluid--lg intro">

      <div class="row">
        <div class="col-sm-3 col-lg-2 col-6">
          <div class="portrait">
            <div class="img-container">
              <img src="images/Philipp.jpg">
            </div>
            <p>Philipp</p>
          </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-6">
          <div class="portrait">
            <div class="img-container">
              <img src="images/marcel.jpg">
            </div>
            <p>Marcel</p>
          </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-6">
          <div class="portrait">
            <div class="img-container">
              <img src="images/marvin.jpg">
            </div>
            <p>Marvin</p>
          </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-6">
          <div class="portrait">
            <div class="img-container">
              <img src="images/michael.jpg">
            </div>
            <p>Michael</p>
          </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-6">
          <div class="portrait">
            <div class="img-container">
              <img src="images/Flo.jpg">
            </div>
            <p>Florian</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section section--t section--b section--rounded">
    <div class="rounded">
      <div class="container-fluid container-fluid--lg intro">

      </div>
    </div>
  </div>

<div class="timeline__container" id="timeline">
  {{!-- <div class="timeline__filled"></div> --}}

  <div class="section bg__dark section--dt section--db timeline">
    <div class="timeline--bg-top">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4 col-lg-5">
            <div class="card">
              <div class="card__half-top"></div>
              <div class="card__half-bottom"></div>
              <div class="card__bg"></div>
              <p class="meta">Assignment 1</p>
              <h2>Idea Pitch</h2>
              {{!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic dignissimos veritatis rerum natus voluptas vel maxime ullam quia voluptatibus.
              </p> --}}

              <p class="btn">
                {{> eye
                }}
                deep dive
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> desc-1 }}
  </div>

  <div class="section bg__dark timeline">
    <div class="timeline--bg">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4 col-lg-5 offset-lg-7">
            <div class="card">
              <div class="card__half-top"></div>
              <div class="card__half-bottom"></div>
              <div class="card__bg"></div>
              <p class="meta">Assignment 2</p>
              <h2>Low-Fidelity Prototyping</h2>
              {{!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic dignissimos veritatis rerum natus voluptas vel maxime ullam quia voluptatibus.
              </p> --}}
              <p class="btn">
                {{> eye
                }}
                deep dive
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> desc-2 }}
  </div>

  <div class="section bg__dark section--db timeline">
    <div class="timeline--bg">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4 col-lg-5">
            <div class="card">
              <div class="card__half-top"></div>
              <div class="card__half-bottom"></div>
              <div class="card__bg"></div>
              <p class="meta">Assignment 3</p>
              <h2>Wireframing</h2>
              <p class="btn">
                {{> eye
                }}
                deep dive
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> desc-3 }}
  </div>

  <div class="section bg__dark timeline">
    <div class="timeline--bg">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4 col-lg-5 offset-lg-7">
            <div class="card">
              <div class="card__half-top"></div>
              <div class="card__half-bottom"></div>
              <div class="card__bg"></div>
              <p class="meta">Assignment 4</p>
              <h2>Visual Design</h2>
              <p class="btn">
                {{> eye
                }}
                deep dive
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> desc-4 }}
  </div>

  <div class="section bg__dark timeline">
    <div class="timeline--bg">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4 col-lg-5">
            <div class="card">
              <div class="card__half-top"></div>
              <div class="card__half-bottom"></div>
              <div class="card__bg"></div>
              <p class="meta">Assignment 5</p>
              <h2>High-Fidelity Prototype</h2>
              <p class="btn btn-2">
                {{> eye }}
                deep dive
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> desc-5 }}
  </div>

  <div class="section bg__dark timeline">
    <div class="timeline--bg-bottom">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4 col-lg-5 offset-lg-7">
            <div class="card">
              <div class="card__half-top"></div>
              <div class="card__half-bottom"></div>
              <div class="card__bg"></div>
              <p class="meta">Assignment 6</p>
              <h2>Design reflections</h2>
              <p class="btn">
                {{> eye
                }}
                deep dive
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> desc-6 }}
  </div>

</div>


</main>

{{> footer }}
