{{> head
  title='about tomorrow'
  social-desc='about tomorrow'
}}

<main class="main">

  <div class="timeline__point">
  </div>

  <div class="section section--dt">
    <div class="container-fluid container-fluid--lg intro">

      <span class="handwritten">our journey</span>
      <h1>
        we are <br>
        about tomorrow
      </h1>

    </div>
  </div>
  <div class="section section--nt section--nb">
    <div class="container-fluid container-fluid--lg intro">

      <div class="row">
        <div class="col-md-2 col-6">
          <div class="img-container">
            <img src="images/Philipp.jpg">
          </div>
          <p>Philipp</p>
        </div>
        <div class="col-md-2 col-6">
          <div class="img-container">
            <img src="images/marcel.jpg">
          </div>
          <p>Marcel</p>
        </div>
        <div class="col-md-2 col-6">
          <div class="img-container">
            <img src="images/marvin.jpg">
          </div>
          <p>Marvin</p>
        </div>
        <div class="col-md-2 col-6">
          <div class="img-container">
            <img src="images/michael.jpg">
          </div>
          <p>Michael</p>
        </div>
        <div class="col-md-2 col-6">
          <div class="img-container">
            <img src="images/Flo.jpg">
          </div>
          <p>Florian</p>
        </div>
      </div>

    </div>
  </div>

  <div class="section section--dt section--db section--rounded">
    <div class="rounded">
      <div class="container-fluid container-fluid--lg intro">

      </div>
    </div>
  </div>

<div id="timeline">
  <div class="section bg__dark section--dt section--db timeline">
    <div class="timeline--bg-top">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              {{!-- <div class="card__bg"></div> --}}
              <h3>Assignment 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic dignissimos veritatis rerum natus voluptas vel maxime ullam quia voluptatibus.
              </p>
              <a class="btn" href="#">anzeigen</a>
            </div>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg__dark timeline">
    <div class="timeline--bg">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="card">
              {{!-- <div class="card__bg"></div> --}}
              <h3>Assignment 2</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic dignissimos veritatis rerum natus voluptas vel maxime ullam quia voluptatibus.
              </p>
              <a class="btn" href="#">anzeigen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg__dark section--db timeline">
    <div class="timeline--bg-bottom">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              {{!-- <div class="card__bg"></div> --}}
              <h3>Assignment 3</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic dignissimos veritatis rerum natus voluptas vel maxime ullam quia voluptatibus.
              </p>
              <a class="btn" href="#">anzeigen</a>
            </div>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="section bg__dark section--db">
    <div class="timeline--bg-bottom">
      <div class="container-fluid container-fluid--lg intro">
        <div class="row">

        </div>
      </div>
    </div>
  </div>


</main>

{{> footer }}
