html {
  scroll-behavior: smooth;
}

*:focus {
  outline: 0 !important;
}

html,
body {
  font-family: $regular;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-size: $font-size-sm;
  overflow-x: hidden;
  background: $color-brand-secondary;
}

.body,
a,
button,
* {
  // cursor: none !important;
  color: white;
}

img {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}

 a img {
  border:none
}

::selection {
  -webkit-text-fill-color: white;
  background-color: $color-brand-secondary;
}

.hide {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background: $color-brand-primary;
}

@keyframes gradient {
  0% {    background-position: 0% 50%; }
  50% {   background-position: 100% 50%; }
  100% {  background-position: 0% 50%; }
}

.bg {
  &__dark {
    background-color: $color-gray-darker;
  }
  &__darkest {
    background-color: $color-gray-darkest;
  }
}

.no-scroll {
  overflow: hidden;
}

.show {
  opacity: 1 !important;
  pointer-events: all !important;
  display: block !important;
}

.locked {
  cursor: not-allowed!important;
}