.btn {
  // border: 1px solid white;
  font-family: $mono;
  font-size: $font-size-xxs;
  transition: all ease .4s;
  display: inline-block;
  border-radius: 4rem;
  cursor: pointer;
  padding: $space-6 $space-24;
  border-radius: 2rem;
  background-color: $color-white;
  color: $color-brand-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: $space-30;
  margin-right: $space-12;
  max-width: 100% !important;

  &:hover {
    box-shadow: $btn-shadow;
  }

  &--launch {
    display: inline-flex;
    background-color: $color-gray-lighter;
  }

  &--circle {
    width: $space-30;
    height: $space-30;
    padding: $space-6;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: $space-12;
      height: $space-12;
      margin-right: 0 !important;
    }
  }

  &__inner {
    background-color: $color-background;
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 100%;
    padding: 0 50px;
    cursor: pointer;
    transition: all .3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &:hover {
    .btn__inner {
      background: transparent;
    }
  }

  svg {
    margin-right: $space-6;
  }
}

.btn-container {
  display: flex;
  align-items: center;
}