.description {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;
  overflow-y: hidden;
  display: none;

  @media (min-width: $screen-md) {
    left: calc((100vw - 1200px) / 2);
  }

  * {
    color: $color-gray-darker;
  }

  h2 {
    margin: $space-24 0;
  }

  .row {
    margin: $space-48 0;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    left: calc(((100vw - 1200px) / 2) * -1);
    top: 0;
    bottom: 0;
    width: calc((100vw - 1200px) / 2);
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 2rem;
    left: calc(50% - 1.5rem);
    background-color: $color-brand-primary;
    border-radius: 50%;
    z-index: 100;
    box-shadow: $btn-shadow-hover;

    @media (min-width: $screen-md) {
      bottom: auto;
      left: auto;
      right: 2rem;
      top: 2rem;
      // display: none;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:after,
    &:before {
      content: '';
      height: 1px;
      width: 60%;
      background-color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .swiper-container-sizing {
    margin-left: -37.5px;
    margin-right: -37.5px;
    width: calc(100% + 75px);
    padding: 0!important;
    overflow: hidden;

    @media (min-width: $screen-md) {
      // margin-left: -87.5px;
      // margin-right: -87.5px;
      // width: calc(100% + 175px);
      margin-left: 0;
      margin-right: 0;
      width: calc(100%);
    }
  }

  &__card {
    padding: $space-18 $space-18 $space-24;
    background-color: $color-gray-lighter;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    // &--dark {
    //   background-color: $color-gray-darker;
    // }

    @media (min-width: $screen-md) {
      padding: $space-24 $space-24 $space-48;
    }

    img {
      width: 75%!important;
      margin: $space-24 0;
    }

    svg {
      width: 100%;
    }

    &__meta{
      padding: $space-3 $space-6;
      background-color: $color-white;
      border-radius: 2rem;
      font-size: $font-size-xxxs;
    }
  }

  &__info {
    position: relative;

    &__inner {
      @media (min-width: $screen-md) {
        position: absolute;
        left: 0;
        top: 0;
        writing-mode: vertical-rl;
        white-space: pre;
        transform: rotate(-90deg);
      }

      h3 {
        position: relative;
        letter-spacing: 0.05em;
        // padding-left: 4rem;
        margin-bottom: $space-24;
        padding: $space-12 0 $space-12 $space-24;

        @media (min-width: $screen-md) {
          transform: rotate(-90deg);
          padding: 0;
        }

        &:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $color-brand-primary;


          @media (min-width: $screen-md) {
            position: absolute;
            width: calc(4rem * 2);
            top: calc(4rem * -1.5);
            left: -2.5rem;
            transform: rotate(
              90deg);
            width: 8rem;
            height: 2px;
          }
        }
      }
    }
  }
}

.scrollview {
  padding: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  @media (min-width: $screen-md) {
    padding: 100px;
  }

  // @media (min-width: $screen-md) {
  //   padding-right: calc((100vw - 1200px) / 2);
  // }

  h2 {
    margin-bottom: 0;
  }
}

.oneSlide {
  margin-left: -37.5px;
  margin-right: -37.5px;
}