header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // display: none;

  a {
    color: $color-brand-secondary;

    &:hover {
      color: $color-brand-secondary;
    }
  }

  svg {
    width: auto;
    height: 5rem;
  }

  .floating {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index:40;

    @media (min-width: $screen-md) {
      position: relative;
      bottom: auto;
      left: auto;
      transform: none;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  li {
    cursor: pointer;
    list-style: none;
    padding: .25rem .75rem;
    background-color: rgba($color-white, .3);
    color: #1e4f3d;
    margin-right: 1rem;
    border-radius: 2rem;
    text-align: center;
    display: inline-block;

    &:hover {
      background-color: rgba($color-white, .6);
    }
  }
}

.menu {
  display: none;

  @media (min-width: $screen-md) {
    display: block;
  }

  li {
    :not(:last-child){
      margin-right: 1rem;
    }
  }

  &__mobile {
    padding: 1rem 3rem;
    background-color: $color-white;
    border-radius: 2rem;
    color: $color-brand-secondary;
    z-index: 40;
    min-height: 3rem;
    position: relative;
    display: none;

    &:after,
    &:before {
      content: '';
      width: 50%;
      height: 1px;
      background-color: $color-gray-darker;
      position: absolute;
      left: calc(50% - 25%);
    }

    &:after {
      top: 25px
    }
  }
}
