header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
  }

  li {
    list-style: none;
  }
}

.menu {
  li {
    :not(:last-child){
      margin-right: 1rem;
    }
  }
}
