.section {
  padding: $section-gap-md 0;
  position: relative;
  display: block;

  @media (min-width: $screen-md) {
    padding: $section-gap-md 0;
  }

  &--lg {
    padding: $section-gap-md 0;

    @media (min-width: $screen-md) {
      padding: $section-gap-lg 0;
    }
  }

  &--hide {
    display: none;
  }

  &__fold {
    position: absolute;
  }

  &--dt {
    padding-top: calc(#{$section-gap-md} * 2);
  }

  &--db {
    padding-bottom: calc(#{$section-gap-md} * 2);
  }

  &--nt {
    padding-top: 0;
  }

  &--nb {
    padding-bottom: 0;
  }

  &--light {
    background: $color-gray-lightest;
  }

  &--line-top {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  &--rounded {
    background-color: $color-gray-darker;
    &:after {
      content: '';
      background-color: $color-brand-primary;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      height: 100%;
      width: 120%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
