@font-face {
  font-family: 'formosa';
  src: url('../fonts/dk_formosa.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/dk_formosa.woff') format('woff'), /* Modern browsers */
       url('../fonts/dk_formosa.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: $mono !important;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: $color-brand-primary;
}

p,
label {
  line-height: 1.6em;
  letter-spacing: -0.02em;
  margin: 0 0 1em 0;
  font-size: $font-size-md;
  font-family: $mono;
  letter-spacing: 0;
  max-width: 65ch;

  &:last-child {
    margin-bottom: 0;
  }

  & > strong {
    font-weight: 400;
    font-family: $bold;
  }

  & > span.dark {
    color: $color-gray-darker;
  }

  & > a {
    font-family: $mono;
  }
}

ul {
  li {
    line-height: 1.4em;
    max-width: 65ch;
  }
}

p.brand,
span.brand {
  color: $color-brand-primary;

  a {
    color: $color-brand-primary;
  }
}

.text {
  &__center {
    text-align: center;
    margin: 0 auto;
  }
}

.font-size {
  &__xl {
    font-size: $font-size-xl-sm;
    font-weight: 400;
    margin: 2em 0 1em;

    @media (min-width: $screen-xxs) {
      line-height: 1em;
      font-size: $font-size-xxl;
    }
  }
}

.handwritten {
  font-family: 'formosa', sans-serif;
  color: $color-brand-primary;
  font-size: $font-size-xxl;

  span {
    letter-spacing: -0.2em;
    color: $color-brand-primary;
  }
}