// colors
$color-brand-primary: #3BA55D;
$color-brand-secondary: #1E4F3D;
$color-brand-primary-gradient: #3BA55D;
$color-brand-secondary-gradient: linear-gradient(170.18deg, #810F8F -46.27%, #2C1DA8 165.79%);

$color-background: $color-brand-primary;

$color-white: #fff;
$color-gray-lightest: #f4f4f4;
$color-gray-lighter: #e4e4e4;
$color-gray-light: #929399;
$color-gray: #55565e;
$color-gray-dark: #131515;
$color-gray-darker: #202124;
$color-gray-darkest: #1A1A1C;

$color-shadow: $color-gray-darkest;

$color-gray-trans-50: rgba(130, 130, 130, .5);

// shadows

$btn-shadow: 0px 15px 75px 0px rgba($color-shadow, 0.12);
$btn-shadow-hover: 0px 30px 150px 0px rgba($color-shadow, 0.24);

// font size
$font-size-xxxxl: calc(100px + 2vw);
$font-size-xxxl: calc(82px + 0.3vw);
$font-size-xxl: calc(56px + 0.3vw);
$font-size-xl: calc(36px + 0.3vw);
$font-size-xl-sm: calc(32px + 0.3vw);
$font-size-lg: calc(21px + 0.2vw);
$font-size-md: calc(15px + 0.2vw);
$font-size-sm: calc(14px + 0.2vw);
$font-size-xs: calc(13px + 0.2vw);
$font-size-xxs: calc(11px + 0.2vw);
$font-size-xxxs: calc(10px + 0.1vw);

$font-weight-bold: 700;

// font family
$regular: 'IBM Plex Sans', sans-serif;;
$bold: $regular;
$mono: 'IBM Plex Sans', sans-serif;;

$shadow: 0px 1vw 3vw -1vw rgba(0,0,0,0.4);
$border-radius: 2px;

// spaces & gaps
$section-gap: calc(40px + 1vw);
$section-gap-md: calc(50px + 3vw);
$section-gap-lg: calc(200px + 1vw);

$space-3: 0.3rem;
$space-6: 0.6rem;
$space-12: $space-6 * 2;
$space-18: $space-6 * 3;
$space-24: $space-6 * 4;
$space-30: $space-6 * 5;
$space-36: $space-6 * 6;
$space-42: $space-6 * 7;
$space-48: $space-6 * 8;
$space-54: $space-6 * 9;
$space-60: $space-6 * 10;
$space-72: $space-6 * 12;
$space-90: $space-6 * 15;
$space-120: $space-6 * 20;
$space-144: $space-6 * 24;
$space-180: $space-6 * 30;